---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).filter(p => !p.data.draft)
  .sort((a,b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
---
<Base title="shanth.me">
  <h1>shanth.me</h1>
  <ul>
    {posts.map(p => (
      <li>
        <a href={`/blog/${p.slug}/`}>{p.data.title}</a>
        <small> — {new Date(p.data.pubDate).toDateString()}</small>
      </li>
    ))}
  </ul>
</Base>
